@charset "utf-8";
@use "../settings/variables" as *;
@use "../settings/functions" as *;
@use "../settings/mixins" as *;

a {
  font-weight: bold;
  color: #aa0;
}

p {
  font-size: 16px;
  color: $baseColor;
}

.pic {
  max-width: 500px;
  margin: 0 auto;
}